[Unit]
Description=Web Watcher Scraper application

[Service]
# systemd will run this executable to start the service
ExecStart=/home/iot/WebWatcher/DiegoG.WebWatcher

# to query logs using journalctl, set a logical name here
SyslogIdentifier=webwatcher

# Use your username to keep things simple.
# There are three references to iot in this file. This one, ExecStart and Environment=DataDirectory
# In linux, if DataDirectory is not set, and its run as a server, it will try to write in root, which will result in an exception.
# After this is done, simply use `sudo cp This/file/WebWatcher.service /etc/systemd/system/`
User=iot

# This environment variable is necessary when dotnet isn't loaded for the specified user.
# To figure out this value, run 'env | grep DOTNET_ROOT' when dotnet has been loaded into your shell.
Environment=DataDirectory=/home/iot/WebWatcher/

[Install]
WantedBy=multi-user.target
